global:
  nameOverride: ""
  fullnameOverride: ""

image:
  repository: nginx
  tag: latest
  pullPolicy: IfNotPresent

storage:
  size: 1Gi
  class: manual

network:
  ingress:
    enabled: true
    host: omni.local
