replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: complex-app.local
      paths:
        - path: /
          pathType: ImplementationSpecific

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
